sonar-duplication-cpd/src/main/xsd/pmd-cpd.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- XML Schema Generated from XML Document on Tue Jan 20 2015 11:17:03 
		GMT+0100 (CET) -->
	<!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
	<xs:element name="pmd-cpd">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="duplication" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="file" maxOccurs="unbounded">
								<xs:complexType>
									<xs:attribute name="path" type="xs:string"></xs:attribute>
									<xs:attribute name="line" type="xs:int"></xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="codefragment" type="xs:string"></xs:element>
						</xs:sequence>
						<xs:attribute name="lines" type="xs:int"></xs:attribute>
						<xs:attribute name="tokens" type="xs:int"></xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>